<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Scan QR or barcode </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content
  [fullscreen]="true"
  [style.--background]="scanActive?'#00000000':'#ffffff'">
  
  <ion-button expand="block" (click)="startScanner()" [hidden]="scanActive">
    Scan
  </ion-button>
  <ion-row class="scan-button" [hidden]="!scanActive">
    <ion-col class="ion-no-padding">
      <ion-button expand="block" (click)="stopScanner()">Stop</ion-button>
    </ion-col>
  </ion-row>
  <div class="scan-box" [hidden]="!scanActive"></div>
  <ion-button class="cancel-button" expand="block" (click)="cancelScan()">Cancel</ion-button>
</ion-content>
